  #Navbar{
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    box-shadow:black(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: space-between;
    margin-bottom: 20px;
    position:sticky;

}
#first{
    padding: 10px 10px 10px 10px;
    height: 100%;
    width: 180px;
    color: #e5b95f;
    font-size: 21px;
}
#logo{
    height: 100%;
    width: 210px;
}
#logo>img{
    height: 82%;
    width: 100%;
    margin-top: 10px;
}
#tools{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
    color: #e5b95f;

}
#tools>div>img{
    height: 50%;
    width: 50%;
}

.display{
   margin-top: 0px;
   width: 100%;
   height: 700px;
   position: relative;
}
.display>img{
    width: 100%;
    height: 100%;
}
.display>button
{
   position: absolute; 
   top: 40%;
   background-color: white;
   font-size: 30px;
   width: 30px;
   height: 50px;
   border: transparent;

   
}
.display>:nth-child(2){
    left: 0%;
}
.display>:nth-child(3){
    right: 0%;
}
.display>button:hover {
    background-color: #a7906b;
    color: white;
}

.heading{
   text-align: center;
   margin: 80px 0px 25px 0px;
   font-size: 45px;
}
.shubh{
    border:1px solid #e5b95f;
    width: 25%;
    margin: auto;

}
#boxsa{
   width: 100%;
   height: 450px;
 display: flex;
 
}
.mas{
  width: 23%;
  height: 70%;
  text-align: center;
  font-size: large;
  margin: auto;
  border: 3px solid rgb(229, 185, 95);
  border-radius: 20px;
}
.mas>img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#boxas>:hover{
    background: #000;
}
  
#plan{
  width: 55%;
  height: 500px;
  margin: auto;
  display: flex;
  margin-top: 20px;

}
.subsc{
  width: 43%;
  height: 100%;
  border: 1px solid blueviolet;
  margin: auto;
}
#prebox{
  text-align: center;
  margin: 100px 0px 20px 0px;
}
#prod{
  display: grid;
  width: 86%;
  height: 300px;
  margin: auto;
  display: flex;
  margin-bottom: 30px;
  margin-top: 40px;
}
.school{
width: 22%;
height: 100%;
margin: auto;
text-align: left
}
.school>img{
    width: 100%;
    height: 70%;

}
.price{
    color: gray;
    
}
.test{
    margin-top: 0px;
    width: 100%;
    height: 700px;
    position: relative;
 }
 .test>img{
     width: 100%;
     height: 70%;
 }
 .test>button
 {
    position: absolute; 
    top: 40%;
    background-color:transparent;
    font-size: 30px;
    width: 30px;
    height: 50px;
    border: transparent;
 }
 .test>h1
 {
    position: absolute; 
    top: 5%;
    text-align: center;
    font-size: 30px;
    left: 40%;
 }
 .test>p
 {
    position: absolute; 
    top: 36%;
    text-align: center;
    font-size: 30px;
    left: 12%;
 }
 .test>:nth-child(2){
     left: 15%
 }
 .test>:nth-child(3){
     right: 11%;
 }
 .test>button:hover {
     background-color: #a7906b;
     color: black;
 }
#trend{
text-align: center;
margin: 50px 0px 50px 0px;

}
#trendbox{
width: 100%;
height: 220px;
margin-bottom: 20px;
display: flex;
gap: 5px;

}
.sub{
    width: 12.5%;
    height: 100%;
    margin: auto;  
}
.sub>img{
    width: 100%;
    height: 100%;
}
#lastbox{

border: 1px solid rgb(229,185,95);
width:100%;
height: 250px;
background-color: rgb(229,185,95);
margin-top: 70px;
}
#ugh{
width: 70%;
height: 70%;
margin: auto;
margin-top: 37px;
display: flex;
justify-content: space-evenly;
}
.sach{
    width: 15%;
    height: 100%;
    
}.sach>img{
    width: 100%;
    height: 100%;
}